.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: floralwhite;
  position:fixed
 
}

.paragraph {
    font-family: "times new roman", times, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph3 {
    font-family: "arial", serif, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph4 {
    font-family: "archer", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph5 {
    font-family: "comic sans Ms", cursive, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph6 {
    font-family: "gotham", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph7 {
    font-family: "baskerville", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.paragraph8 {
    font-family: "chalkboard", thin, monospace;
    font-weight: normal;
    font-size: 6vw;
    
}

.right {
  right: 0;
  background-color: floralwhite;
}

.paragraph-1 {
    font-family: "times new roman", sans-serif, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-2 {
    font-family: "gotham", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-3 {
    font-family: "chalkboard", thin, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-4 {
    font-family: "archer", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-6 {
    font-family: "arial", serif, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-7 {
    font-family: "baskerville", gotham, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.paragraph-8 {
    font-family: "comic sans MS", cursive, monospace;
    font-weight: normal;
    font-size: 6vw;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: 0px;
  top: 0;
}

